<div class="container-fluid d-col justify-content-center ">
    <div class="header">
        <h1 class="text-dark text-center fw-bolder" style="font-size: 35px;">About Me</h1>
        <div style="width: 60px; height: 4px; background-color: #2bb3a3; margin: 10px auto auto auto; "></div>
    </div>   

    <div class="card transparent-card">
        <div class="row">

            <div class="col-md-8" data-aos="fade-right"  data-aos-offset="300" data-aos-duration="500">
                <div class="card-body">
                    <h4 class="card-title fw-bold">Full Stack Web Developer & Software Developer.</h4>
                    <br>
                    <p class="card-text fst-italic lh-s fw-bold">
                        Software Associate with 2.8 years of experience working in the computer software industry in the Java, Full
                        Stack domain. Effective communicator and collaborator, adept at working across teams to achieve project
                        goals efficiently. Looking forward to an opportunity for working in a dynamic, challenging environment, where
                        I can utilize my skills for developing my career and for the growth of the organization.
                    </p>
                    <br>
                    <div class="card-text">
                        <div class="row ">
                            <div class="col-md-6">
                                <ul class="list-unstyled profile-info">
                                    <li><i class="fas fa-angle-right"></i><strong>Name: </strong>Sanket Ramdas Mali</li>
                                    <li><i class="fas fa-angle-right"></i><strong>Birthday: </strong>30 June 2000</li>
                                    <li><i class="fas fa-angle-right"></i><strong>Age: </strong>25</li>
                                    <li><i class="fas fa-angle-right"></i><strong>Address: </strong>Ahilyanager, India</li>
                                    <li><i class="fas fa-angle-right"></i><strong>Phone: </strong>(+91) 9527647759</li>
                                </ul>
                            </div>
                             <div class="col-md-6">
                                <ul class="list-unstyled profile-info">
                                    <li><i class="fas fa-angle-right"></i><strong>Degree: </strong>Master in Science (Computer Science)</li>
                                    <li><i class="fas fa-angle-right"></i><strong>Email: </strong>sanketmali304&#64;gmail.com</li>
                                    <li><i class="fas fa-angle-right"></i><strong>Website: </strong>sanketmali304.github.io/portfolio/</li>
                                    <li><i class="fas fa-angle-right"></i><strong>Freelance: </strong>Available</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <br>
                     <div class=" d-flex justify-content-center">
                        <a href="assets/resume/Sanket_Mali_Fullstack_Developer_Resume.pdf" class="btn btn-outline-success bold">
                            <strong>Download Resume</strong> 
                        </a>
                     </div>
                </div>
            </div>


            <!-- <div class="col-md-8 p-2" data-aos="fade-right"  data-aos-offset="300" data-aos-duration="500">
                <div class="card-body">
                    <h4 class="card-title mb-3 fw-bold">Full Stack Web Developer & Software Developer.</h4>
                    <br>
                    <p class="card-text fst-italic lh-s fw-bold">
                        Software Associate with 2.8 years of experience working in the computer software industry in the Java, Full
                        Stack domain. Effective communicator and collaborator, adept at working across teams to achieve project
                        goals efficiently. Looking forward to an opportunity for working in a dynamic, challenging environment, where
                        I can utilize my skills for developing my career and for the growth of the organization.
                    </p>
                    <br>
                    <div class="card-text">
                        <div class="row ">
                            <div class="col-md-6">
                                <ul class="list-unstyled profile-info">
                                    <li><i class="fas fa-angle-right"></i><strong>Name: </strong>Sanket Ramdas Mali</li>
                                    <li><i class="fas fa-angle-right"></i><strong>Birthday: </strong>30 June 2000</li>
                                    <li><i class="fas fa-angle-right"></i><strong>Age: </strong>25</li>
                                    <li><i class="fas fa-angle-right"></i><strong>Address: </strong>Ahilyanager, India</li>
                                    <li><i class="fas fa-angle-right"></i><strong>Phone: </strong>(+91) 9527647759</li>
                                </ul>
                            </div>
                             <div class="col-md-6">
                                <ul class="list-unstyled profile-info">
                                    <li><i class="fas fa-angle-right"></i><strong>Degree: </strong>Master in Science (Computer Science)</li>
                                    <li><i class="fas fa-angle-right"></i><strong>Email: </strong>sanketmali304&#64;gmail.com</li>
                                    <li><i class="fas fa-angle-right"></i><strong>Website: </strong>sanketmali304.github.io/portfolio/</li>
                                    <li><i class="fas fa-angle-right"></i><strong>Freelance: </strong>Available</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <br>
                     <div class=" d-flex justify-content-center">
                        <a href="assets/resume/Sanket_Mali_Fullstack_Developer_Resume.pdf" class="btn btn-outline-success bold">
                            <strong>Download Resume</strong> 
                        </a>
                     </div>
                </div>
            </div> -->





            <div class="col-md-4  m-auto p-auto">             
                <!-- <div data-aos="fade-left" s-anchor="#example-anchor" data-aos-offset="300" data-aos-duration="500" -->

                <div class="card image-container" data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-delay="800" data-aos-offset="100">
                    <div class="user-image">
                        <img src='https://sanketmali304.github.io/portfolio/assets/images/sanket-image-squar.jpg' class="img-fluid"  alt="professional user logo">
                        <!-- <img src='/assets/images/sanket-image1.jpg' class="img-fluid"  alt="professional user logo"> -->
                    </div>
                    <div class="card-body social-icons bg-icons">
                        <a href="#" class="icon">
                            <i class="fa-brands fa-square-facebook" 
                            data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-delay="1000" data-aos-offset="100"></i></a>
                        <a href="https://www.instagram.com/sanketmali__sm?igsh=emIxOHlyaGYyNHQ3" class="icon"><i class="fa-brands fa-square-instagram"
                            data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-delay="1200" data-aos-offset="100"></i></a>
                        <a href="https://wa.me/919524647759" class="icon"><i class="fa-brands fa-square-whatsapp"
                            data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-delay="1400" data-aos-offset="100"></i></a>
                        <a href="#" class="icon"><i class="fa-brands fa-square-github"
                            data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-delay="1600" data-aos-offset="100"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>