.container-fluid {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 50px 10px;
  background-color: floralwhite;
  /* border: 2px solid black; */
}

.card {
  margin: 50px auto;
  margin-top: 50px;
  padding: 10px;
  max-width: 1200px;
  background-color: transparent !important;
  border: none !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-info  i{
  color: #2bb3a3;
  margin-right: 8px;
}

.profile-info strong {
  font-weight: 600;
}

.profile-info li {
  margin-bottom: 10px;
}

.col-md-4{
   padding: 0 30px;
}
.card .card{
  margin: 20px 0;
  padding: 0 ;
}

.image-container {
  width: 100%;
  box-shadow: 20px 20px 50px rgba(4, 4, 4, 0.97);
  overflow: hidden;
  /* border: 2px solid red; */
  border-radius: 30px;
  background-color: rgb(22, 231, 231);
}

.card .card .user-image{
  height: auto;
  width: 100%;
}

.card .card .card-body{
  width: 100%;
  background-color: #1a237e;     /*Deep blue background*/
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid #151c61; 
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}

/* .bg-icons {
  width: 100%;
  height: 5px;
  background-color: #1a237e;     Deep blue background 
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 2px solid rgb(224, 13, 13);
  
  overflow: hidden;
} */

/* .social-icons {
  display: flex;
  gap: 20px;
} */

.icon {
  color: white;
  border: 2px solid white;
  border-radius: 10px;
  padding: 12px;
  text-align: center;
  text-decoration: none;
  font-size: 40px;
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.3s, transform 0.3s;
}

.icon:hover {
  background: white;
  color: #1a237e;
  transform: scale(1.1);
}