<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark custom-navbar"> -->
<nav class="navbar bg-body-tertiary navbar-expand-lg animated-gradient-navbar custom-navbar">
  <div class="container">
    <a class="navbar-brand" href="#">SANKET MALI</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto d-flex">
        <li class="nav-item">
          <a class="nav-link custom-nav-link" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link custom-nav-link" href="#">About Me</a>
        </li>
        <li class="nav-item">
          <a class="nav-link custom-nav-link " href="#">Education</a>
        </li>
        <li class="nav-item">
          <a class="nav-link custom-nav-link" href="#">Skills</a>
        </li>
        <li class="nav-item">
          <a class="nav-link custom-nav-link" href="#">Experience</a>
        </li>
        <li class="nav-item">
          <a class="nav-link custom-nav-link" href="#">Profiles</a>
        </li>
        <li class="nav-item">
          <a class="nav-link custom-nav-link" href="#">Portfolio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link custom-nav-link" href="#">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>