<div class="container-fluid background d-flex justify-content-center align-items-center">
    
    <div class="card text-center mb-3 p-3 transparent-card" style="max-width: 80rem;">
        <div class="card-body">
            <h1 class="card-title text-uppercase" data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-delay="300"data-aos-offset="0">
                Hi, I'm<br>
                Sanket<br>
                Mali .
            </h1>
            <br> <br>
            <h4 class="card-subtitle text-uppercase" data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-delay="1500"data-aos-offset="0">Full Stack Web Developer</h4>
            <br>
            <p class="card-text text-wrap" data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-delay="2000"data-aos-offset="0">
                I'm a Full Stack Web Developer experienced in building web applications<br>
                Skilled in web design and modern technologies<br>
                Enjoys team collaboration and aims to grow in a dynamic,<br> challenging environment.
            </p>
            <br>
            <a data-aos="fade-up" data-aos-easing="ease-in-back" data-aos-delay="3000" data-aos-offset="10"
            href="" class="btn btn-outline-light bold"><strong>Get n Touch</strong> </a>
        </div>
    </div>
    
</div>