<div class="container-fluid">
    <div class="header" >
        <h2 class="text-dark text-center fw-bolder" style="font-size: 27px;"><i class="fa-solid fa-graduation-cap"></i>   Education</h2>
        <div style="width: 60px; height: 4px; background-color: #2bb3a3; margin: 10px auto auto auto; "></div>
    </div>
    <div id="timeline-content" class="d-flex justify-content-center align-items-center">
        <ul class="timeline">
            <li class="event" data-aos="fade-up" s-anchor="#example-anchor" data-aos-offset="300" data-aos-duration="500">
                <h3>2021 - 2023</h3>
                <h3>Master of Science in Computer Science</h3>
                <p><i class="fas fa-university me-3"></i><strong class="text-uppercase">Savitribai Phule Pune
                        University</strong> - Pune, Maharashtra</p>
                <p>
                    During my time at the university, I gained a strong understanding of core subjects in computer
                    science.
                    The program helped me build a solid foundation for my career, and I actively participated in
                    academic and
                    extracurricular activities that supported my personal and professional growth.
                </p>
                <!-- <p>In this course, I learned advanced topics like software development, system design, and how to solve problems 
                        using algorithms. I also got practical experience working with modern tools such as Spring Boot, REST APIs, 
                        microservices, and databases. This helped me understand how real-world software applications are built and managed.
                    </p> -->
            </li>
            <li class="event" data-aos="fade-up" s-anchor="#example-anchor" data-aos-offset="300" data-aos-duration="500">
                <h3>2018 - 2021</h3>
                <h3>Bachelor of Science in Computer Science</h3>
                <p><i class="fas fa-university me-3"></i><strong class="text-uppercase">Savitribai Phule Pune
                        University</strong> - Pune, Maharashtra</p>
                <p>During this program, I was first introduced to computer programming concepts, which sparked my
                    interest in the field.
                    This program strengthened my foundational knowledge in computer systems and programming, while
                    improving my problem-solving
                    and analytical thinking in the context of software development.
                </p>
            </li>
            <li class="event" id="date" data-aos="fade-up" s-anchor="#example-anchor" data-aos-offset="300" data-aos-duration="500">
                <h3>2017 - 2018</h3>
                <h3>HSC (12<sup>th</sup> - Science)</h3>
                <p><i class="fas fa-university me-3"></i><strong class="text-uppercase">State Board Of
                        Maharashtra</strong> - Pune, Maharashtra</p>
                <p>Completed HSC studies in science stream from Maharashtra State Board with focus on Physics,
                    Chemistry, Mathematics.
                    Acquired strong computer knowledge at basic level.</p>
            </li>
            <li class="event" data-aos="fade-up" s-anchor="#example-anchor" data-aos-offset="300" data-aos-duration="500">
                <h3>2015 - 2016</h3>
                <h3>SSC (10<sup>th</sup>)</h3>
                <p><i class="fas fa-university me-3"></i><strong class="text-uppercase">State Board Of
                        Maharashtra</strong> - Pune, Maharashtra</p>
                <p>I completed my SSC in 2016 from Maharashtra State Board with 68.80%. Gained a strong foundation in
                    mathematics, science and logical reasoning, developed an early interest in the computer era.
                    Also experienced the charm of existence in this place created for the joy of souls like me.
                </p>
            </li>
        </ul>
    </div>
</div>