<!-- <p>certifications works!</p> -->
 <hr style="margin: 0; padding: 0;">
<div class="container-fluid">
    <div class="header">
        <h2 class="text-dark fw-bolder text-center" style="font-size: 27px;"><i class="fa-solid fa-medal fa-flip-vertical"></i> Certifications</h2>
        <div style="width: 60px; height: 4px; background-color: #2bb3a3; margin: 10px auto auto auto; "></div>
    </div>
    <div id="timeline-content" class="d-flex justify-content-start align-items-center">
        <ul class="timeline">
            <li class="event" data-aos="fade-up" s-anchor="#example-anchor" data-aos-offset="300" data-aos-duration="500">
                <h5><strong>Azure Administrator Associate (AZ-104)</strong></h5>
                <p>2025</p>
            </li>
            <li class="event" data-aos="fade-up" s-anchor="#example-anchor" data-aos-offset="300" data-aos-duration="500">
                <h5><strong>Azure Fundamentals (AZ-900)</strong></h5>
                <p>2024</p>
                
            </li> 
            
            <li class="event" data-aos="fade-up" s-anchor="#example-anchor" data-aos-offset="300" data-aos-duration="500">
                <h5><strong>AWS Cloud Practitioner (CLF-C02)</strong></h5>
                <p>2023</p>
            </li>
            <li class="event" data-aos="fade-up" s-anchor="#example-anchor" data-aos-offset="300" data-aos-duration="500">
                <h5><strong>Agile Software Development</strong></h5>
                <p>2022</p>
            </li>
             <li class="event" data-aos="fade-up" s-anchor="#example-anchor" data-aos-offset="300" data-aos-duration="500">
                <h5><strong>Full Stack Developer Professional Certificate.</strong></h5>
                <p>2022</p>
            </li>
            
            
        </ul>
    </div>






</div>