<hr style="margin: 0; padding: 0;">
<div class="container-fluid">
    <div class="header">
        <h1 class="text-dark text-center fw-bolder" style="font-size: 35px;">Resume</h1>
        <div style="width: 60px; height: 4px; background-color: #2bb3a3; margin: 10px auto auto auto; "></div>
    </div>
    <div class="row d-flex align-items-top justify-content-evenly my-5 mx-3">
        <div class="col-md-6">
            <app-education></app-education>
        </div>
        <div class="col-md-6">
            <app-experience></app-experience>
            <app-certifications></app-certifications>
        </div>
    </div>
</div>
