<div class="container-fluid">
    <div class="header">
        <h2 class="text-dark text-center fw-bolder" style="font-size: 27px;"><i class="fa-solid fa-briefcase"></i> Professional Experience</h2>
        <div style="width: 60px; height: 4px; background-color: #2bb3a3; margin: 10px auto auto auto; "></div>
    </div>
    <div id="timeline-content" class="d-flex justify-content-center align-items-center">
        <ul class="timeline">
            <li class="event" data-aos="fade-up" s-anchor="#example-anchor" data-aos-offset="300" data-aos-duration="500">
                <h3>2022 - Present</h3>
                <h3>Capgemini Technology Services India Limited</h3>
                <!-- <p><i class="fas fa-company me-3"></i><strong class="text-uppercase"></strong> - Pune, India</p> -->
                <p>- Pune, India</p>
                <p>
                    Improved APAC region's invoice processing by 30% via workflow streamlining and automation.
                    Developed and enhanced features using Java, Spring Boot, and Angular.
                    Handled full application lifecycle: analysis, implementation, database, testing, production
                    deployment.
                    Integrated complex forms with backend APIs and optimized performance.
                    Collaborated on debugging, system optimization, and deployment for enhanced stability and security.
                </p>
            </li>
        </ul>
    </div>
</div>